# Distribution / packaging
.DS_Store
__pycache__
.cache/
*egg*
bin/

# Compiled python modules.
*.pyc

# Jupyter Notebook
*.ipynb_checkpoints/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# vscode
.vs
.vscode

# data
/data

# pre-commit
.pre-commit*

# .lock
*.lock
