* {
    box-sizing: border-box;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.jumbotron {
    padding: 15px 0px 5px 0px;
    background: #a80202 ;
    color: floralwhite;
    border-radius: 0%;
}

.header__first-row-col-left {
    max-height: max-content;
    margin-left: 15px;
}

.header__aisg-logo {
    max-width: 40px;
    display: inline;
    vertical-align: middle;
    border-radius: 50%;
}

.header__tenjin-title {
    display: inline;
    vertical-align: middle;
    padding-left: 12px;
    font-size: 18px;
    font-weight: bold;
}

.header__analysis-type {
    font-size: 18px;
    text-align: center;
    padding: 5px 10px;
    margin: 8px 15px 8px 35px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
    border-radius: 0.25rem;
}

.header__usr-pjt-title {
    font-weight: bold;
    color: floralwhite;
    /* font-size: x-large; ** for version with pjt title at separate dbc.Row */
    /* margin: 4px 15px 4px 70px; ** for version with pjt title at separate dcc.Row */
    font-size: 18px;
    font-family: inherit;
    display: inline; 
    vertical-align: middle;
    margin: 4px 15px 4px 10px;
}

.header__nav-row {
    margin-left: 18px;
}

.header__nav-tab {
    background-color: #a80202 !important;
    border: 1px solid transparent !important;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: rgb(255, 255, 255);
    margin: 10px 0px -5px;
    display: flex !important;
    font-size:1rem;
    height: 40px;
    justify-content: center;
    align-items: center;
    width:max-content !important;
}

.header__nav-tab-selected {
    color: #a80202 !important;
    font-weight: bold;
    border-color: rgb(255, 255, 255) !important;
    outline: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255) !important;
}

.border__common {
    box-sizing: border-box;
    box-shadow: rgb(229, 211, 197) 0px 1px 3px;
    margin: 0px 15px 20px;
    padding: 10px;
    background: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(229, 211, 197);
    border-image: initial;
    border-radius: 15px;
}

.border__common-misspred-reg {
    box-sizing: border-box;
    box-shadow: rgb(229, 211, 197) 0px 1px 3px;
    margin: 0px 10% 5px 9%;
    padding: 10px;
    background: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(229, 211, 197);
    border-image: initial;
    border-radius: 15px;
}

.fig__roc-prec-recall {
    width: 80%;
    margin: auto;
}

table .cell-table {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(229, 211, 197);
    border-radius: 15px;
}

.div__std-err {
    margin-top: 20px;
}

.div__std-err p {
    text-align: center;
    margin-bottom: 0;
}

.div__table-proba-spread {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.h6__dash-table-note-reg {
    padding-left: 25px;
    margin-top: 10px;
    margin-left: 8%;
    color: #687e94;
    font-style: italic;
    display: inline-block;
}

.alert__note-reg {
    margin-top: 15px;
    margin-bottom: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.dash-spreadsheet-menu {
    margin: 0 0.5% 0.6% 93%;
}
    
.export {
    border-radius: 5px;
    border: 2px solid lightgrey;
    padding: 0 15px;
    font-family: inherit;
    color: floralwhite;
    background-color: #aaa19b;
    transition:.75s;
    }
    
.export:hover, .export:active, .export:focus {
    color:white;
    box-shadow: 0px 1px 3px lightgrey;
    background-color: #f3c8c0;
    outline: none;
    }
